:root {
  --fontsize--3: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --fontsize--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --fontsize--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fontsize-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fontsize-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fontsize-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fontsize-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fontsize-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fontsize-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fontsize-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fontsize-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --fontsize-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  --fontsize-8: clamp(4.8373rem, 3.9283rem + 4.5448vi, 7.4506rem);
  --fontsize-9: clamp(5.8048rem, 4.5844rem + 6.1017vi, 9.3132rem);
  --fontsize-10: clamp(6.9657rem, 5.3393rem + 8.1319vi, 11.6415rem);
  --red-color: #CF0534;
  --black-color: #221714;
  --gray-color: #ECECEC;
  --gray-bg-color: #F5F5F5;
  --gray-dark-bg-color: #D9D9D9;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  /* background-color: pink; */
  /* background-color: white; */
  /* background-color: #F5F5F5; */
  cursor: default;
}


.noto-serif-jp  {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-text{
  color: var(--red-color);
}

.red-btn{
  background-color: var(--red-color);
  color: white;
}

.black-text{
  color: var(--black-color);
}

.bg-gray {
  background-color: var(--gray-bg-color);
}

.container{
  max-width: 1100px;
}

.card{
  border: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.section-area {
  /* min-height: 100svh; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: ECECEC; */
}

/* テスト用 */
.test { border: 0.5px solid pink;}


/* ナビゲーションバー */
.logo {
  height: 2.5rem;
}
.nav-button {
  border-radius: 32px;
  font-weight: 700;
  font-size: var(--fontsize--2); 
  padding: 0.5rem 1.5rem;
}
.navbar{
  background-color: rgba(white, 0.3);
  backdrop-filter: blur(3px);
  transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}
.navbar.scrolled {
  background-color: rgba(255, 255, 255, 1);
}
.login-btn {
  background-color: var(--red-color);
  color: white;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  transition: background-color 0.3s ease;
}

.inquiry-btn {
  border: 1px solid white;
  color: white;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.inquiry-btn.scrolled {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--black-color);
}

.nav-logo-text{
  fill: white;
  transition: fill 0.3s ease;
}

.nav-logo-text.scrolled{
  fill: var(--black-color);
}

/* メインビジュアル */
.hero-bg {
  position: absolute;
  height: 100svh;
  height: 100vh;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
}

.hero-bg video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

#fallback-image {
  height: 100svh;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  z-index: 3;
}

.main-visual {
  height: 100svh;
  height: 100vh;
  position: relative;
}
.main-title {
  font-weight: 700;
  font-size: var(--fontsize-5);
}
.main-text{
  font-weight: 600;
  font-size: var(--fontsize-1);
}


/* SNSボタン */
.floating-buttons {
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.floating-buttons a {
  text-decoration: none; 
  color: inherit;
}


.circle-btn {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.5); 
  border: none;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  transition: background-color 0.3s;
}

.circle-btn:hover {
  background-color: var(--gray-color);
}

/* 共通タイトル設定 */
.title-eng {
  font-size: var(--fontsize-6);
  opacity: 0.2;
  transform: translateY(1.5rem);
}
.title {
  font-size: var(--fontsize-2); 
  font-weight: bold;

}
.sub-title {
  font-size: var(--fontsize--1);
  font-weight: 600;
}

/* 協力会とは？ */
.youtube-viedo{
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  /* height: 0; */
  overflow: hidden;
  max-width: 100%;
}

.youtube-viedo iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  border-radius: 20px;
}

/* 協力会ネットワーク */
.map-area {
  position: relative;
}
.map-text {
  font-weight: 900;
  width: 80%;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: var(--fontsize-1);
}
.map-sub-text {
  font-size: var(--fontsize--2);
}

/* グループ会社ボタン */
.num-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0 auto;
  max-width: 500px; /* 幅を調整 */
}

.num-col {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 120px; /* 高さを維持 */
}

.num-label {
  font-size: var(--fontsize--1);
  color: #666;
  margin-bottom: 4px;
}

.num-value {
  font-size: var(--fontsize-2);
  font-weight: bold;
  color: #333;
}

.num-btn {
  font-size: var(--fontsize-0);
  font-weight: bold;
  max-width: 400px; /* ボタンの幅 */
  margin: 0 auto;
}

.group-btn-container {
  display: flex;
  justify-content: center;
  /* align-items: stretch; */
}

/* 協力会に加入するメリット */
.merit-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.merit-carousel {
  max-width: 90%; 
}

.owl-nav-prev, .owl-nav-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-nav-prev {
  left: 0;
}
.owl-nav-next {
  right: 0;
}

.owl-nav-prev img,
.owl-nav-next img {
  width: 36px;
}

.nav-arrow {
  transition: fill 0.3s ease;
}

.merit-card{
  padding: 50px 80px;
  width: 100%;
  max-width: 1100px; 
}

.merit-card .col-lg-6{
  min-height: 300px ;
}

.merit-card-text{
  padding-left: 3px;
  font-size: var(--fontsize--3);
  font-weight: 600;
}
.merit-card-num{
  font-size: var(--fontsize--1);
}
.merit-card-title {
  font-size: var(--fontsize-1);
  font-weight: 900;
}
.merit-card-content{
  margin-top: 0.25rem;
  font-size: var(--fontsize--1);
  font-weight: 700;
}

.merit-card-content ul{
  font-size: var(--fontsize--2);
  padding-left: 50px;
}
.merit-card-img{
  width: 100%;
}

.text-bg {
  position: relative;
  z-index: 1;
}
.text-bg::before {
  content: "";
  position: absolute;
  transform: translateX(-30px);
  background-image: url('../assets/img/merit-text-bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 310px;
  height: 100px;
  z-index: -1;
}


/* ソーシャルメディア */
.tiktok-embed {
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.sns-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns {
  width: 95%;
  text-align: start;
}

.sns-title {
  font-size: var(--fontsize--2);
  font-weight: 900;
}

.sns-row{
  height: max-content;
  padding: 1rem 2rem;
}

.sns-icons {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.sns-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-md-4.sns-content {
  border-left: 0.5px solid var(--gray-color); 
}

.sns-icon {
  width: 48px;
  height: 48px;
}


/* 最新情報 */  
.news-container{
  max-width: 95%;
  margin: 0 auto;
}
.news-container table{
  max-width: 90%;
  margin: 0 auto;
}

.news-container tr{
  height: 64px;
}

.news-date,
.news-content {
  text-align: left;
  font-size: var(--fontsize-0);
  vertical-align: bottom;
}

/* 最新情報,アンダーラインアニメーション */
.underline-animation {
  position: relative;
  display: inline-block; 
  color: inherit; 
  text-decoration: none; 
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5em;
  width: 100%;
  height: 3px; 
  border-radius: 30px;
  background: #CF0534;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.5s ease; 
}

.underline-animation:hover::after {
  transform: scaleX(1); 
}

/* アプリダウンロード */
.app-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
}

.app-icon {
  border-radius: 16px;
  max-width: 100%;
}

.app-store-icon {
  width: 80%;
}

.app-title{
  font-size: var(--fontsize-0);
  font-weight: 700;
}

/* フッター */
footer {
  background-color: var(--gray-dark-bg-color);
}

footer a {
  color: var(--black-color);
  text-decoration: none;
}

.footer-title {
  color: var(--red-color);
  font-size: var(--fontsize--1);
  font-weight: 700;
}
.footer-link {
  padding-top: 1rem;
  font-size: var(--fontsize--2);
  font-weight: 600;
}

.contact-link {
  font-size: var(--fontsize--2);
  font-weight: 600;
}

/* Background */
.wave {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 110px);
  height: 110px;
}


@media (max-width: 1200px) { 
  .card{
    border-radius: 1.5rem;
  }
  
  .merit-card-title {
    font-size: var(--fontsize-1);
  }
  .merit-card-content{
    font-size: var(--fontsize--1);
  }
  .sns-title{
    font-size: var(--fontsize--2);
    font-weight: 700;
  }
  .app-icon {
    max-width: 69%;
  }
  .overlay-bg,.wave svg {
    height: 100px;
  }

}
@media (max-width: 992px) { 
  .card{
    border-radius: 1rem;
  }
  .owl-nav-prev img,
  .owl-nav-next img {
    width: 24px;
  }

  .merit-card .col-lg-6{
    min-height: auto;
  }
  .merit-carousel {
    margin-top: 45px;
  }
  .owl-nav-prev, .owl-nav-next {
    top: 25px;
  }
  .owl-nav-prev {
    left: calc(50% - 50px);
  }
  .owl-nav-next {
    right: calc(50% - 50px);
  }
  .news-date,
  .news-content {
    font-size: var(--fontsize--1);
  }
  .sns-title{
    font-size: var(--fontsize--1);
    font-weight: 700;
  }
  .app-title{
    font-size: var(--fontsize--1);
  }
  .overlay-bg,.wave svg {
    height: 90px;
  }
}

@media (max-width: 768px) { 
  .logo {
    height: 2.25rem;
}
  .main-title {
    font-size: var(--fontsize-4);
  }
  .main-text{
    font-size: var(--fontsize-0);
  }
  .merit-card{
    padding: 20px 40px;
  }
  .sns-row{
    height: max-content;
    padding: 0;
  }

  .sns-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .sns-title {
    margin-top: 1rem;
  }
  .sns-icons {
    margin: 1rem auto;
  }
  /* .sns-title-area.col-md-10 { */
.col-md-4.sns-content {
    border-left: none; 
  }
  
  .app-title{
    text-align: center;
    font-size: var(--fontsize-0);
  }

  .app-icon {
    max-width: 50%;
  }
  .app-store-icon {
    max-width: 70%;
  }
  .overlay-bg,.wave svg {
    height: 80px;
  }
}

@media (max-width: 576px) { 

  .logo {
    height: 1.8rem;
  }
  .nav-button {
      padding: 0.25rem 0.75rem;
  }
  .overlay-wave {
    height: 50px;
  }
  .main-title {
    font-size: var(--fontsize-3);
  }
  .main-text{
    font-size: var(--fontsize--1);
  }
  .youtube-viedo iframe ,.tiktok iframe {
    width: 90%;
    height: 90%;
    border-radius: 1rem;
  }
  .title-eng {
    transform: translateY(0.5rem);
    font-size: var(--fontsize-3);
    font-weight: bold;
  }
  .title {
    font-size: var(--fontsize-1); 
    font-weight: bold;
  }
  .sub-title {
    font-size: var(--fontsize--2);
    font-weight: 600;
  }

  .section-area {
    min-height: 50svh;
    min-height: 50vh;
  }
  
  .floating-buttons {
    flex-direction: row;
    bottom: 10rem;
    right: auto;
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }

  /* 業者数カート */
  .num-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
  }
  
  .num-col {
      min-height: 100px;
  }
  .num-value {
      font-size: var(--fontsize-1);
  }
  .num-btn {
      font-size: var(--fontsize--1);
  }
  .map-text {
    font-size: var(--fontsize--1);
  }
  .map-sub-text {
    font-size: var(--fontsize--3);
  } 
  
  .merit-carousel {
    max-width: 100%; 
  }
  .merit-card{
    width: 95vw;
    width: 95svw;
  }

  .news-container{
    max-width: 100%;
    padding-bottom: 0;
  }

  .news-container tr{
    height: 50px;
  }

  .news-date,
  .news-content {
    font-size: var(--fontsize--2);
    display: block;
    width: 100%;
    padding-bottom: 0;
  }

  .news-date {
    padding: 0;
    text-align: left;
    padding-bottom: 0px !important;
    /* vertical-align: bottom; */
    border-bottom: none;
  }

  .news-content {
    padding-top: 0px !important;
    /* vertical-align: top; */
    text-align: left;
    margin-left: 0;
  }
  .sns-icon {
    width: 36px;
    height: 36px;
  }

  
  .app-container {
    max-width: 100%;
  }
  .app-title{
    text-align: center;
    font-size: var(--fontsize--1);
  }
  .app-icon {
    max-width: 70%;
  }
  .app-store-icon {
    max-width: 100%;
  }
  .overlay-bg,.wave svg {
    height: 70px;
  }

}

@media (max-width: 375px) {
  .logo {
    height: 1.5rem;
  }
  .nav-button {
      border-radius: 20px;
      padding: 0.125rem 0.375rem;
  }
  /* html, body {
    width: 100%;
    overflow-x: hidden;
  } */
  img, video, iframe {
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card {
    /* max-width: 100%; */
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0.5rem;
  }

  .row, .col, [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .sns-icon {
    width: 24px;
    height: 24px;
  }
  .app-title{
    font-size: var(--fontsize--3);
  }
  .app-container {
    padding: 0.5rem;
  }
  .app-icon {
    max-width: 80%;
  }
  .app-store-icon {
    max-width: 100%;
  }
  .overlay-bg,.wave svg {
    height: 60px;
  }
}
