:root {
  --fontsize--3: clamp(0.64rem, 0.6549rem + -0.0192vi, 0.651rem);
  --fontsize--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --fontsize--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --fontsize-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --fontsize-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --fontsize-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --fontsize-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --fontsize-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --fontsize-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fontsize-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --fontsize-6: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
  --fontsize-7: clamp(4.0311rem, 3.36rem + 3.3555vi, 5.9605rem);
  --fontsize-8: clamp(4.8373rem, 3.9283rem + 4.5448vi, 7.4506rem);
  --fontsize-9: clamp(5.8048rem, 4.5844rem + 6.1017vi, 9.3132rem);
  --fontsize-10: clamp(6.9657rem, 5.3393rem + 8.1319vi, 11.6415rem);
  --red-color: #CF0534;
  --black-color: #221714;
  --gray-color: #ECECEC;
  --gray-bg-color: #F5F5F5;
  --gray-dark-bg-color: #D9D9D9;
}

/* テスト用 */
.test {
  border: 0.5px solid pink;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: var(--gray-color);
}

.red-text {
  color: var(--red-color);
}

.red-btn {
  background-color: var(--red-color);
  color: white;
}

.red-btn:hover {
  background-color:#8b0726;
  color: white;
}

.black-text {
  color: var(--black-color);
}

.bg-gray {
  background-color: var(--gray-color);
}

.fix-container {
  max-width: 1100px;
}

.nav-button {
  border-radius: 32px;
  font-weight: 700;
  font-size: var(--fontsize--2);
  padding: 0.5rem 1.5rem;
}

.inquiry-btn {
  border: 1px solid var(--black-color);
  color: var(--black-color);
}


.login-panel {
  min-height: 60vh;
}

.logo {
  height: 2.5rem;
}

.header {
  display: flex;
  justify-content: center;
  /* margin-bottom: 20px; */
}

.switch-btn {
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
  color: #333;
  cursor: pointer;
  font-size: var(--fontsize--1);
}

.switch-btn.active {
  background-color: var(--red-color);
  color: white;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: var(--black-color);
  color: white;
  border: none;
}

.register-btn:hover {
  background-color: var(--gray-dark-bg-color);
  color: var(--black-color);
}



hr {
  border: 1.5px solid var(--black-color);
  /* width: 90%; */
  /* margin: 2rem auto; */
}
.info-text {
  font-size: var(--fontsize--1);
  font-weight: 500;
}

.help-text {
  font-size: var(--fontsize-0);
  font-weight: 600;
}

/* フッター */
footer {
  background-color: var(--gray-dark-bg-color);
}

footer a {
  color: var(--black-color);
  text-decoration: none;
}

.footer-title {
  color: var(--red-color);
  font-size: var(--fontsize--1);
  font-weight: 700;
}

.footer-link {
  padding-top: 1rem;
  font-size: var(--fontsize--2);
  font-weight: 600;
}

.contact-link {
  font-size: var(--fontsize--2);
  font-weight: 600;
}


@media (max-width: 768px) { 
  .logo {
      height: 2.25rem;
  }
}

@media (max-width: 576px) { 
  .logo {
      height: 1.8rem;
  }
  .nav-button {
      padding: 0.25rem 0.75rem;
  }
}

@media (max-width: 375px) {
  .logo {
    height: 1.5rem;
  }
  .nav-button {
      border-radius: 20px;
      padding: 0.125rem 0.375rem;
  }
}