body{
    height: 100vh;
    margin: 0;
    background-color: black;
    
}

svg {
    font-family: 'Montserrat';
    font-size: 10vw;
    font-weight: bold;
    text-transform: uppercase;
    transition:  1s font-size;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

video {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

svg rect {
    fill: white;
    mask: url(#mask);
}

@media screen and (max-width: 786px){
    svg {
        font-size:25vw;
    }
}